<h1>This is the note creation page</h1>
<form method="POST" action="/notes">
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    <button type="submit">Create Note</button>
</form>