<div id="edit-form-container">
    <div id="form-inner-edit">
        <p id="form-title">Create Your Note</p>
        <p id="form-subtitle">Never forget anything, except 2020.</p>
        <form method="POST" action="/notes">
            <input id="edit-form-title" class="standard-form-input" type="text" name="title" placeholder="Title" autocomplete="off" autofocus required>
            <textarea id="edit-form-content" class="standard-form-input" type="textarea" name="content" placeholder="Content" autocomplete="off" cols="40" rows="5" required></textarea>
            <button id="form-edit-save-button" class="standard-button" type="submit">Create Note</button>
        </form>
    </div>
</div>