<div id="note-show-page-container">
    <h1>Note Show Page</h1>
    <p>I didn't finish this because I'd rather take them to the index page, but I realize this is part of the requirements so I left it in. </p>
    <p><%= @note.title %></p>
    <p><%= @note.content %></p>
    <a href="/notes/<%= @note.id %>/edit">Edit Note</a>
</div>
