<div id="signup-form-container">
    <div id="form-inner">
        <p id="form-title">Nevernote</p>
        <p id="form-subtitle">Never forget anything, except 2020.</p>
        <form method="POST" action="/signup">
            <input id="form-username" class="standard-form-input" type="text" name="username" placeholder="Username" autocomplete="off" autofocus>
            <input id="form-password" class="standard-form-input" type="text" name="email" placeholder="Email address" autocomplete="off">
            <input id="form-password" class="standard-form-input" type="password" name="password" placeholder="Password" autocomplete="off">
            <button id="form-button" class="standard-button" type="submit">Sign Up</button>
        </form>
        <p id="form-create-title">Already have an account?</p>
        <a id="form-create-link" href="/login">Login</a>
    </div>
</div>