<p>Sign Up to Showz</p>
<div id="user-form-signup" class="shared-form">
    <form method="POST" action="/signup">
        Username: <input type="text" name="username">
        Email: <input type="text" name="email">
        Password: <input type="password" name="password">
        <button type="submit">Sign Up</button>
    </form>
</div>