<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nevernote</title>
  <meta name="description" content="Nevernote">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div id="header-container">
            <a class="header-logo" href="/">Home</a>
            <% if is_logged_in? %>
                <a id="header-container-new-note" class="header-selection-item" href="/notes/create">New Note</a>
                <a class="header-selection-item" href="/notes">All Notes</a>
                <a class="header-selection-item" href="/users/<%=active_user.id%>">Account</a>
                <a class="header-selection-item" href="/logout">Log Out</a>
            <% else %>
                <a class="header-selection-item" href="/login">Login</a>
                <a class="header-selection-item" href="/signup">Sign Up</a>
            <% end %>
        </div>
    </header>
    <div id="header-site-wide-border"></div>
  <%= yield %>
  <script src="/javascript/application.js"></script>
</body>
</html>