<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Super Secure Notes</title>
  <meta name="description" content="Super Secure Notes">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <ul>
            <% if is_logged_in? %>
                <li><a href="/notes/create">Create a New Note</a></li>
                <li><a href="/notes/<%=active_user.id%>">My Notes</a></li>
                <li><a href="/users/<%=active_user.id%>">My Account</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            <% end %>
        </ul>
    </header>
  

  <%= yield %>
  <!-- todo load scripts here -->
</body>
</html>